# HW 1

> Name: Maira Bermeo  
> EMPL ID: 24175075

## Instructions 
(Part 1)  
For the first 5 problems use the following data 
"555-1239Dr. Bernard Lander(636) 555-0113Hollingdorp, Donnatella555-6542Fitzgerald, F. Sco\tt555 8904Rev. Martin Luther King636-555-3226Snodgrass, Theodore5553642Carlamina Scarfoni"

* Extract the numbers
* Extract the names
* Rearrange the vector so that all elements conform to the standard “firstname lastname”, preserving any titles (e.g., “Rev.”, “Dr.”, etc) or middle/second names.
* Construct a logical vector indicating whether a character has a title (i.e., Rev. and Dr.)
* Construct a logical vector indicating whether a character has a middle/second name.

In [2]:
data = "555-1239Dr. Bernard Lander(636) 555-0113Hollingdorp, Donnatella555-6542Fitzgerald, F. Sco\tt555 8904Rev. Martin Luther King636-555-3226Snodgrass, Theodore5553642Carlamina Scarfoni"

##### **Extract the numbers**

In [4]:
import re

raw_numbers = re.findall('[0-9\\-\\s()]{7,}', data)
print(raw_numbers)

print()

numbers = [re.sub('[^0-9]', '', n) for n in raw_numbers]
print(numbers)

['555-1239', '(636) 555-0113', '555-6542', '555 8904', '636-555-3226', '5553642']

['5551239', '6365550113', '5556542', '5558904', '6365553226', '5553642']

##### **Extract the names**

In [6]:
raw_names = re.findall('[A-Za-z\\.\\,\\s]{2,}', data)
names = [n.replace('\t', 't') for n in raw_names]
print(names)

['Dr. Bernard Lander', 'Hollingdorp, Donnatella', 'Fitzgerald, F. Scott', 'Rev. Martin Luther King', 'Snodgrass, Theodore', 'Carlamina Scarfoni']

##### **Rearrange the vector so that all elements conform to the standard “firstname lastname”, preserving any titles (e.g., “Rev.”, “Dr.”, etc) or middle/second names.**

In [8]:
yuh= []
for n in names:
    checker = re.findall('[\\,]',n)
    if checker:
        new= n.replace(',','')
        parted= new.split()
        last = parted.pop(0)   
        parted.append(last)     
        result = ' '.join(parted)
        yuh.append(result)              
        
    else: 
        yuh.append(n)
print(yuh)

['Dr. Bernard Lander', 'Donnatella Hollingdorp', 'F. Scott Fitzgerald', 'Rev. Martin Luther King', 'Theodore Snodgrass', 'Carlamina Scarfoni']

##### **Construct a logical vector indicating whether a character has a title (i.e., Rev. and Dr.)**

In [10]:
print("Do the names have titles?")
for t in yuh:
    if re.match("^[A-Za-z]{2,}\\.", t):
        print(t + ": True")
    else:
        print(t + ": False")

Do the names have titles?
Dr. Bernard Lander: True
Donnatella Hollingdorp: False
F. Scott Fitzgerald: False
Rev. Martin Luther King: True
Theodore Snodgrass: False
Carlamina Scarfoni: False

##### **Construct a logical vector indicating whether a character has a middle/second name.**

In [12]:
print("Do the names have middle/second names?")

for n in yuh:
    parted = n.split()
    if '.' in n:
        parted.pop(0) 
        if len(parted) > 2:
            print(n+ ": True")
        else:
            print(n+ ": False")
    
    elif len(parted) > 2:
        print(n+ ": True")
    else:
        print(n+ ": False")

Do the names have middle/second names?
Dr. Bernard Lander: False
Donnatella Hollingdorp: False
F. Scott Fitzgerald: False
Rev. Martin Luther King: True
Theodore Snodgrass: False
Carlamina Scarfoni: False

## Instructions 
(Part 2)  
Consider the HTML string <'title'>+++BREAKING NEWS+++<'title'>. 

* We would like to extract the first HTML  tag (i.e., <'title'>). To do so we write the regular expression “<.+>”. Explain why this fails and correct the expression.

In [35]:
# Part 2
html_string = "<title>+++BREAKING NEWS+++<title>"

In [37]:
wrong = re.findall('<.+>', html_string)
print(wrong)

['<title>+++BREAKING NEWS+++<title>']

##### Explain why it fails:  
This fails because the pattern is greedy so it grabs everything from the first "<" to the last ">" instead of stopping at the first tag.

In [44]:
#correct
right = re.findall('<.+?>', html_string)
print(right[0])

<title>

## Instructions 
(Part 3)  
Consider the string “(5-3)^2=5^2-2*5*3+3^2”.
* We would like to extract the equation in its entirety from the string. To do so we write the regular expression “[^0-9=+*()]+”. Explain why this fails and correct the expression.

In [19]:
num_string = "(5-3)^2=5^2-253+3^2"

In [20]:
wrong2 = re.findall('[^0-9=+*()]+', num_string)
print(wrong2)

['-', '^', '^', '-', '^']

##### Explain why it fails:  
The expression fails because it matches characters not in the equation so to fix it remove the ^ and list all the characters needed.

In [22]:
#correct
right2 = re.findall('[0-9=+\\-*^()]+', num_string)
print(right2)

['(5-3)^2=5^2-253+3^2']